[submodule "wire-server"]
	path = wire-server
	url = https://github.com/wireapp/wire-server.git
	branch = develop

[submodule "wire-apps-jvm-sdk"]
	path = wire-apps-jvm-sdk
	url = https://github.com/wireapp/wire-apps-jvm-sdk.git
	branch = main
